<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
        <link rel="stylesheet" href="style.css">
        <meta charset="UTF-8">
    </head>
    <body>
        <div id="Clothingmenu" v-if="clothingMenuVisible" class="clothing-menu">
            <div id="clothingMenuHeader" class="menu-header">
                <button class="btn close-btn click-action" @click="closeClothing"><i class="bi bi-x-circle"></i></button>
                <span>{{locales.nui_clothing_menu}}</span>
                <button @click="closeClothing">X</button>
            </div>
            <div id="bacl" @click="back" class="btn" ><i class="bi bi-backspace-reverse-fill"> {{locales.nui_clothing_revert}}</i></div>
            <div class="menu-content">
                <button v-for="item in clothingItems" :key="item.id" @click="selectClothing(item)">
                    {{ item.name }}
                </button>
            </div>            
        </div>
		<div id='app'>
            <div id="appheader">
                <h1>{{locales.nui_label}}</h1>
            </div>

            <button class="btn close-btn click-action" @click="close"><i class="bi bi-x-circle"></i></button>
        <div class="container">
                <div class="fons">
                    <span><i class="bi bi-shield-shaded"></i> {{locales.nui_group}}</span>
                    <span>{{state.group}}</span>
                </div>
                <div class="fons1">
                    <span><i class="bi bi-people"></i> {{locales.nui_players}}</span>
                    <span>{{players.length}}</span>
                </div>

                <div class="bigrow">
                    <div class="kocka" @click="duty">
                        <span><i class="bi bi-award"></i> {{locales.nui_duty}}</span>
                        <div>
                            <input type="checkbox" id="dutyCheckbox" :checked="state.duty" @change="duty">
                            <label for="dutyCheckbox" class="custom-checkbox"></label>
                        </div>
                    </div>
                    <div class="kocka" @click="tag" :disabled="!state.duty">
                        <span><i class="bi bi-balloon"></i> {{locales.nui_tag}}</span>
                        <div>
                            <input type="checkbox" id="tagCheckbox" :disabled="!state.duty" :checked="state.tag" @change="tag">
                            <label for="tagCheckbox" class="custom-checkbox"></label>
                        </div>
                    </div>
                    <div class="kocka" @click="ids" :disabled="!state.duty">
                        <span><i class="bi bi-fingerprint"></i> {{locales.nui_esp}}</span>
                        <div>
                            <input type="checkbox" id="idsCheckbox" :disabled="!state.duty" :checked="state.ids" @change="ids">
                            <label for="idsCheckbox" class="custom-checkbox"></label>
                        </div>
                    </div>
                    <div class="kocka" @click="god" :disabled="!state.duty">
                        <span><i class="bi bi-heart"></i> {{locales.nui_god}}</span>
                        <div>
                            <input type="checkbox" id="godCheckbox" :disabled="!state.duty" :checked="state.god" @change="god">
                            <label for="godCheckbox" class="custom-checkbox"></label>
                        </div>
                    </div>
                    <div class="kocka" @click="speed" :disabled="!state.duty">
                        <span><i class="bi bi-capslock"></i> {{locales.nui_speed}}</span>
                        <div>
                            <input type="checkbox" id="speedCheckbox" :disabled="!state.duty" :checked="state.speed" @change="speed">
                            <label for="speedCheckbox" class="custom-checkbox"></label>
                        </div>
                    </div>
                    <div class="kocka" @click="invisible" :disabled="!state.duty">
                        <span><i class="bi bi-binoculars"></i> {{locales.nui_invisble}}</span>
                        <div>
                            <input type="checkbox" id="invisibleCheckbox" :disabled="!state.duty" :checked="state.invisible" @change="invisible">
                            <label for="invisibleCheckbox" class="custom-checkbox"></label>
                        </div>
                    </div>
                    <div class="kocka" @click="adminzone" :disabled="!state.duty">
                        <span><i class="bi bi-balloon"></i> {{locales.nui_adminzone}}</span>
                        <div>
                            <input type="checkbox" id="adminzoneCheckbox" :disabled="!state.duty" :checked="state.adminzone" @change="adminzone">
                            <label for="adminzoneCheckbox" class="custom-checkbox"></label>
                        </div>
                    </div>
                    <div class="kocka" :disabled="!state.duty">
                        <span><i class="bi bi-person-bounding-box"></i> {{locales.nui_clothing}}</span>
                        <span class="click-action" tabindex="0" :disabled="!state.duty" @click="openclothing">
                            <i class="bi bi-person-square"></i>
                        </span>
                    </div>                              
                    <div class="kocka" @click="noragdoll" :disabled="!state.duty">
                        <span><i class="bi bi-cart"></i> {{locales.nui_noragdoll}}</span>
                        <div>
                            <input type="checkbox" id="noragdollCheckbox" :disabled="!state.duty" :checked="state.noragdoll" @change="noragdoll">
                            <label for="noragdollCheckbox" class="custom-checkbox"></label>
                        </div>
                    </div>
                    <div class="kocka" :disabled="!state.duty">
                        <span><i class="bi bi-clipboard-minus"></i> {{locales.nui_coords}}</span>
                        <span class="click-action" tabindex="0" :disabled="!state.duty" @click="coords">
                            <i class="bi bi-clipboard-minus"></i>
                        </span>
                    </div>
                    <div class="kocka" :disabled="!state.duty">
                        <span><i class="bi bi-heart"></i> {{locales.nui_health}}</span>
                        <span class="click-action" tabindex="0" :disabled="!state.duty" @click="heal">
                            <i class="bi bi-heart"></i>
                        </span>
                    </div>
                    <div class="kocka" :disabled="!state.duty">
                        <span><i class="bi bi-geo-alt"></i> {{locales.nui_marker}}</span>
                        <span class="click-action" tabindex="0" :disabled="!state.duty" @click="marker">
                            <i class="bi bi-geo-alt"></i>
                        </span>
                    </div>
                </div>

        </div>
            

            <h2 class="label">{{locales.nui_label_players}}</h2>

            <div class="player-actions">
                <button type="button" class="btn click-action" @click="update"><i class="bi bi-arrow-repeat"></i> {{locales.nui_players_refresh}}</button>
                <input type="text" v-model="search" class="inp" :placeholder="locales.nui_players_search">
            </div>
            
            
            <div class="container player-table">
                <div class="row table-label">
                    <div class="col-sm">
                        {{locales.nui_players_id}}
                    </div>
                    <div class="col-md">
                        {{locales.nui_players_name}}
                    </div>
                    <div class="col">
                        {{locales.nui_players_group}}
                    </div>
                    <div class="col">
                        {{locales.nui_players_job}}
                    </div>
                    <div class="col">
                        {{locales.nui_players_bank}}
                    </div>
                    <div class="col">
                        {{locales.nui_players_Penz}}
                    </div>
                    <div class="col">
                        {{locales.nui_players_kick}}
                    </div>
                    <div class="col">
                        {{locales.nui_players_goto}}
                    </div>
                    <div class="col">
                        {{locales.nui_players_bring}}
                    </div>
                    <div class="col">
                        {{locales.nui_players_spectate}}
                    </div>
                </div>
                <div class="row" v-for="player in filteredList">
                    <div class="player-data" @click="copytoclipboard(player.id)">
                        {{player.id}}
                    </div>
                    <div class="player-data" @click="copytoclipboard(player.name)">
                        {{player.name}}
                    </div>
                    <div class="player-data" @click="copytoclipboard(player.group)">
                        {{player.group}}
                    </div>
                    <div class="player-data" @click="copytoclipboard(player.job)">
                        {{player.job}}
                    </div>
                    <div class="player-data" @click="copytoclipboard(player.bank)">
                        {{player.bank}}
                    </div>
                    <div class="player-data" @click="copytoclipboard(player.Penz)">
                        {{player.Penz}}
                    </div>
                    <div class="player-data" @click="kick(player.id)">
                        <i class="bi bi-door-open-fill"></i>
                    </div>
                    <div class="player-data" @click="goto(player.id)">
                        <i class="bi bi-arrow-bar-up"></i>
                    </div>
                    <div class="player-data" @click="bring(player.id)">
                        <i class="bi bi-arrow-bar-down"></i>
                    </div>
                    <div class="player-data" @click="spectate(player.id)">
                        <i class="bi bi-eyeglasses"></i>
                    </div>
                </div>
            </div>
		</div>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.prod.min.js"></script>
        <script src="index.js"></script>

	</body>
</html>